.leftimg 
{
    float:left;
    margin: 7px 7px 7px 0;
	width: 279px;
    height: 246px; 
}
.textdiv
{
    font-family: 'Courier New', Courier, monospace;
    min-height: 251px;
}
table
{
    margin-top: 10px;
    margin-left: 10px;
}
.bg
{
	background: #00b0d8
}
.button
{
	margin-top: 10px;
	margin-left: 120px;
}
.title
{
 font-size: 36px;
 padding-top: 10px;
 text-align: center;
 display: block;
 background: #00b0d8;
}